---

---

<nav>
  <a class="logo" href="public/images/lillelogo.png"></a>
  <ul>
    <li><a href="#">Forside</a></li>
    <li><a href="#">Bliv frivillig</a></li>
    <li><a href="#">Undervisning</a></li>
    <li><a href="#">Vidensbank</a></li>
    <li><a href="#">Mød teamet</a></li>
  </ul>
</nav>

<style>
.logo {
  width: 300px;
  height: auto;
}

nav {
  padding: 1.25rem 2rem;
  background-color: #BF3F22;
  color: #FFFFED;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

a {
  color: #FFFFED;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

a:active {
  color: #6FE1D4;
  text-decoration: none;
}

ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

</style>